<%= content_for :style do %>
    <%= stylesheet_link_tag "snippet" %>
<% end %>
<%= content_for :title do %>
    <%= @snippet.title %> - Nodesman
<% end %>
<%= content_for :body_class do %>
    snippet-view
<% end %>

<%= content_for :post_content do %>
    <%= javascript_include_tag "articles.js" %>
    <%= render "typekit" %>
<% end %>

<div class="wrapper snippets-list">
  <%= render "header" %>
    <div class="wrapper">
      <h2 class="title"><%= @snippet.title %></h2>
      <div class="snippet">
        <%= raw @snippet.html %>
      </div>
    </div>
</div>
