<%= content_for :script_head do %>
    <%= render 'article_edit_js_assets_inclusion' %>
<% end %>

<%= content_for :style do %>
    <%= stylesheet_link_tag "lib/epiceditor/base/epiceditor" %>
<% end %>

<div class="articles-edit">
  <%= render "form" %>
</div>