<%= link_to "/admin/pages", :class => 'btn btn-primary' do %>
    &laquo; Back
<% end %>
<p></p>

<div class="block">


    <div class="block-title pages-list-title">
        <h2><strong>Add Page</strong></h2>
    </div>
    <%= form_for :page do |f| %>

        <div class="form-bordered form-horizontal">
            <div class="form-group">
                <label class="col-md-5">Title: </label>

                <div class="field col-md-6">
                    <%= f.text_field :title, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5">Content Type: </label>

                <div class="field col-md-6">
                    <%= f.select :content_type, options_for_select(@content_types), {}, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5">Page Type: </label>

                <div class="field col-md-6">
                    <%= f.select :page_type, options_for_select(@page_types), {}, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5">URL Slug: </label>

                <div class="field col-md-6">
                    <%= f.text_field :url_slug, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-12">Content: </label>

                <div class="field col-lg-12">
                    <%= f.text_area :content, :class => 'form-control', :rows => 20 %>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-md-8 col-md-offset-4">
                    <%= submit_tag "Create Page", :class => 'btn btn-sm btn-primary' %>
                    <%= link_to "Cancel", "/admin/pages", :class => 'btn btn-sm btn-warning' %>
                </div>
            </div>
        </div>
    <% end %>

</div>