<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-notes_2"></i>Manage Pages<br><small>Master record of settings for all pages. </small>
    </h1>
  </div>
</div>


<div class="block">
  <!-- Basic Form Elements Title -->
  <div class="block-title pages-list-title">

    <h2><strong>All Pages</strong></h2>
    <%= link_to add_page_url, :class => 'btn pull-right btn-sm btn-success' do %>
        <i class="fa fa-plus"></i> New</button>
    <% end %>

  </div>
  <div class="table-reponsive">
    <table id="general-table" class="table table-striped table-vcenter">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Slug</th>
      </tr>
      </thead>
      <tbody>

      <% if @pages.length.equal?(0) %>

        <tr>
          <td colspan="3" align="center">No pages</td>
        </tr>

      <% end %>

      <% @pages.each do | page | %>
      <tr>
        <td>
          <%= page.id %>
        </td>
        <td>
          <%= link_to "/admin/pages/edit/#{page.id}" do %>
          <%= page.title %>
          <% end %>
        </td>
        <td><%= page.url_slug %></td>
        <td>
          <%= form_for :page, :method => :delete do |d| %>
              <%= hidden_field :page, :id, :value => page.id %>
              <%= d.submit "Delete", :onclick => "return confirm('Are you sure you want to delete this page?');", :class => 'btn btn-warning' do %>
                  Delete
              <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>

    </table>
  </div>

</div>