<% content_for :post_content do %>
    <script src="https://use.typekit.net/yef1nup.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
<% end %>

<%= content_for :title do %> Nodesman's Portfolio
<% end %>

<% content_for :style do %>
    <%= stylesheet_link_tag 'portfolio' %>
<% end %>

<%= render 'header' %>

<% content_for :post_content do %>
    <%= javascript_include_tag 'portfolio-list' %>
<% end %>

<% content_for :body_class do %>portfolio-list toggle-nav
<% end %>

<div class="portfolio-wrapper">
    <section id="portfolio" class="portfolio-archive">
        <div data-anchor="portfolio" id="" class="above-fold section black-overlay">
            <div class="floating-content">
                <h2 class="section-heading">PORTFOLIO</h2>

                <div class="separator-container">
                    <%= image_tag 'separatorWhite.png' %>
                </div>
            </div>
        </div>
        <div data-anchor="archive" class="archive section item below-fold">
            <div class="content">
                <div class="description-container">
                    <h2 class="section-heading">Archive</h2>
                    <%= image_tag 'portfolio/archivescreens.png', :width => '80%', :class => 'post-thumb' %>
                    <p>Ever wanted to snapshot a page before it disappeared? May be snapshot a public record of a event
                        having occured
                        on the internet before it gets taken down.May be a journalist or a public figure
                        made a blaring error and you want to record that permanently for posterity as a kind of proof
                        of event. This application allows you to perfeclty snapshot a web page so that even if the
                        original goes down, you will be able to view the snapshotted version. </p>

                    <div class="button-row">
                        <a href="http://archive.rip/" target="_blank" class="btn btn-default read-more ">
                            VIEW SITE
                        </a>
                    </div>
                </div>
                <div class="background"></div>
            </div>
        </div>
        <div data-anchor="angularfeed" class="angular section item">
            <div class="angularfeed portfolio-piece">
                <div class="content">

                    <div class="lead-text">
                        <h2 class="section-heading">AngularFeed</h2>

                        <p class="excerpt">AngularJs based RSS Feed Reader</p>

                        <%= link_to '/angularfeed ' do %><%= image_tag 'portfolio/angularfeed-excerpt.png', :class => 'screen' %>
                        <% end %>

                        <div class="text-container">
                            <p>Subscribe to any number of RSS feeds organized into a optional folder
                                structure. Does not require an account. Your subscriptions reside on your browser in the
                                localStorage. Organized date wise and presented in a readable format along the lines of
                                Reeder 2.</p>
                        </div>
                        <div class="button-row">
                            <a href="https://github.com/nodesman/angularfeed" class=" col-md-12 btn btn-default read-more">Github</a>
                            <a href="http://angularfeed.nodesman.com" class=" col-md-12 btn btn-default read-more">Visit Site</a>
                            <%= link_to 'READ MORE', angular_feed_url, :class => ' col-md-12 btn btn-default read-more' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-anchor="email" class="section email item">
            <div class="content">
                <div class="lead-text">
                    <h2 class="section-heading">WP Autoresponder</h2>



                    <div class="description-content">

                        <div class="stats">
                            <span class="minor-blue-heading">Wordpress Extension</span> |
                            <span class="fecal-text">124,000</span> |
                            <span class="fecal-text">13 releases</span>
                        </div>


                        <p>This is a wordpress extension to add email marketing capabilities to WordPress. It brings
                            almost
                            all the functionality that popular services such as Aweber and Mailchimp have to
                            WordPress. </p>

                        <div class="details">
                            <a href="https://github.com/nodesman/wp-autoresponder" class="btn btn-default read-more ">Github</a>
                            <%= link_to 'READ MORE', wpr_url, :class => 'btn btn-default read-more' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    var hero_url = '<%= asset_path('portfolio/wood.jpg') %>'
</script>