<%= form_for [:admin, @snippet] do |f| %>
    <div class="new-snippet clearfix" >
      <div class="block clearfix" style="padding-bottom: 20px;">
        <a class="btn pull-right btn-sm btn-success" href="<%= new_admin_snippet_url %>">New</a>
        <div class="col-xs-12 field" >
          <div class="col-xs-2">Title</div>
          <div class="col-xs-8 text-left">
            <%=  f.text_field :title, :class => 'col-xs-12'  %>
          </div>
        </div>

        <div class="col-xs-12 field" style="margin: 10px 0;" >
          <div class="col-xs-2">URL Slug</div>
          <div class="col-xs-8 text-left">
            <%=  f.text_field :slug, :class => 'col-xs-12'  %>
          </div>
        </div>
        <div class="col-xs-12 field">
          <div class="col-xs-12">Body</div>
          <div class="col-xs-12 text-left" style="margin-top: 30px; margin-bottom: 30px;">
            <%=  f.text_area :content, :class => 'col-xs-12 hidden', 'markdown-editor' => 'true'  %>
            <div id="epiceditor">

            </div>
          </div>
        </div>
        <div class="col-xs-12">
            <%= f.submit "Save Changes", :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
