<div id="sidebar">
  <div class="sidebar-scroll">
    <div class="sidebar-content">
      <a href="<%= admin_articles_path %>" class="sidebar-brand">
        <i class="gi gi-flash"></i><strong>Admin</strong>UI
      </a>
      <div class="sidebar-section sidebar-user clearfix">
        <div class="sidebar-user-avatar">
          <a href="page_ready_user_profile.html">
            <img src="<%= image_path "me.png" %>" alt="avatar">
          </a>
        </div>
        <div class="sidebar-user-name">Raj</div>

      </div>
      <ul class="sidebar-nav">
        <li>
          <%= link_to admin_articles_path do %>
            <i class="gi gi-stopwatch sidebar-nav-icon"></i>Dashboard
          <% end %>
        </li>
        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Quick Settings"><i class="gi gi-tint"></i></a></span>
          <span class="sidebar-header-title">Content</span>
        </li>
        <li>
          <%= link_to admin_articles_url do %>
            <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>Articles
          <% end %>
        </li>
        <li>
          <%= link_to admin_snippets_url do %>
              <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>Snippets
          <% end %>
        </li>
        <li>
          <%= link_to admin_snippets_url do %>
              <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>Snippets
          <% end %>
        </li>
        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Quick Settings"><i class="gi gi-tint"></i></a></span>
          <span class="sidebar-header-title">Other</span>
        </li>
        <li>
          <%= link_to admin_contact_entries_url do %>
              <i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>Contact Entries
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>