<html>
<head>
  <title></title>
  <%= stylesheet_link_tag 'admin-styles/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'admin-styles/main.css' %>
  <%= stylesheet_link_tag 'admin-styles/plugins.css' %>
  <%= stylesheet_link_tag 'admin-styles/themes.css' %>
</head>
<body>

<div class="container sidebar-partial sidebar-visible-lg">
    <%= yield %>
</div>
</body>
</html>