<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag 'admin' %>
  <%= yield :style %>
  <%= yield :script_head %>
</head>

<body ng-app="Nodesman">

<div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
  <%= render "admin_sidebar" %>
  <div id="main-container">

    <header class="navbar navbar-default">
    </header>

    <div id="page-content">
      <%= yield %>
    </div>
    <footer class="clearfix">
    </footer>
  </div>
</div>

<%= javascript_include_tag "admin" %>
</body>
</html>