<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= yield :title %></title>
  <%= yield :style %>
</head>

<body>

<%= yield %>

<%= yield :post_content %>
<%= render "typekit" %>
</body>
</html>
